/* Soluzione qui */
@media screen and (min-width: 769px) {
  #topbar {
    justify-content: left;
  }

  main,
  footer {
    padding: 3rem;
  }

  .recipe-origin {
    display: inline-block;
  }

  .recipe-title {
    font-size: 1.3rem;
  }

  .quick-notes ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 6rem;
  }

  .social-networks button {
    padding: 0.5rem 3rem;
  }

  .ads {
    display: block;
  }

  .presentation img {
    float: left;
    margin: 0 20px 10px 0;
  }
}

@media screen and (min-width: 993px) {
  .recipe-title {
    font-size: 1.6rem;
  }

  .quick-notes ul {
    display: inline-block;
    width: 15rem;
  }

  .recipe-card {
    display: flex;

    .recipe-video {
      width: 100%;
      height: 35vh;
    }
  }

  .social-networks .label {
    display: inline-block;
  }

  footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    text-align: start;
    align-items: center;

    ul {
      display: flex;
      justify-content: flex-end;
    }
  }
}
